
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 40px;
}

.container {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;

}

/* Estilos para la barra de navegación */
.navbar {
    background-color: #16293d;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px; /* Ajuste de la altura de la barra */
    height: 30px; /* Altura reducida */

}

.navbar h1 {
    margin: 0;
    font-size: 24px; /* Tamaño del texto */
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding:0px;
    display: flex;
    align-items:center;
    height: 40px;
}

.nav-item {
    margin: 0px;
    border: none;
    
    
}

.nav-link {
    color: white;
    text-decoration: none;
    padding:5px;
    justify-content: space-between;
    align-items: center;
}

.nav-link:hover {
    background-color: #1c1756;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .navbar-nav {
        display: none;
        flex-direction: row;
        width: 100%;
        background-color: #16293d;
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 999;
    }

    .navbar-nav.show {
        display: flex;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f1f1f1;
}
/* Estilos específicos para el contenido del dashboard */
h1 {
    text-align: center;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

ul li h2 {
    margin-top: 0;
}

ul li ul {
    padding-left: 20px;
}

ul li ul li {
    margin-bottom: 10px;
}